*{
    margin:0;
    padding:0;
}


body{

    font-family: Darker Grotesque;
    background-color: #B0CBD2;
    height:100vh; 
    width:100vw;
    box-sizing: border-box;
}

.choice-button{

    height:60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2A6673;
    margin:20px;
    border: 1px solid;
}
.slide{
position: absolute;
transform: translate(-50%, -50%);
width:50%;
top: 50%;
left:50%;
text-align: center;
}
.main-heading{
    color:#4437EE;
    text-align: center;
    font-size: 280%;
    letter-spacing: 2px;
    
}
.tag-line{
    text-align: center;
    color:#4437EE;
    font-style: italic;
}
.correct{
    background-color: green;
}

.incorrect{
background-color:red;
}
.weekly-quiz-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 40px;
       
}

.about-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;


}
.about-text{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
}
.last-quiz-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 50px;

}
/* weekly-quiz section*/



.weekly-quiz{
   
    height: 500px;
    width:100%;
    padding-top: 90px;
}
.antarctica-quiz{
    height:450px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  
}
.iceberg-image{

   max-height:100%;
   width:80%;
   
}

.last-quiz{

    height:500px;
    width:100%;
    padding-top: 90px;
}

.harry-potter-quiz{
 height:450px;
 width:80%;
 text-align: center;
 margin: 0 auto;

}

.harry-potter-image{
    max-height: 100%;
    width:80%;
}
.harry-potter-background{
    height:100vh;
    width:100%;
}

.antarctica-quiz-background{
    height:100vh;
    width:100%;

}

.antarctica-section{
    height: 100vh;
}
footer{
    
    bottom: 0px;
}


.start-page{
    position:relative;
   
    
}

.hide{
    display:none;
}


.welcome{
    width: 60%;
    height: 400px;
    background-color: #2A6673;
    position:absolute;
    top:30%;
    right:20%;

}

