*{
    margin:0;
    padding:0;
}


body{

    font-family: Darker Grotesque;
    background-color: #B0CBD2;
    height:100vh; 
    width:100vw;
    box-sizing: border-box;
}

.choice-button{

    height:60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2A6673;
    margin:10px;
    border: 1px solid;
    color:white;
    opacity: 1px;
    font-size: 30px;
    text-align: center;
  
}

#score{
    border: 1px solid;
    border-radius: 20px;
    font-size:20px;
    font-weight: bolder;
    width: 20%;
    padding: 10px;
}

#next-btn{
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}
p.choice{
    
    height:100%;
    width:100%;
    
}
p.choice:hover{
    cursor: pointer;
}

.slide{
position: absolute;
transform: translate(-50%, -50%);
width:50%;
top: 50%;
left:50%;
text-align: center;
background-color:#B0CBD2;
border: 1px solid;
border-radius: 25px;
padding: 30px;
}
.main-heading{
    color:#4437EE;
    text-align: center;
    font-size: 280%;
    letter-spacing: 2px;
    
}
.tag-line{
    text-align: center;
    color:#4437EE;
    font-style: italic;
}
.correct{
    background-color: green;
}

.incorrect{
background-color:red;
}
.weekly-quiz-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 40px;
       
}

.about-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;


}
.about-text{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
}
.last-quiz-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 50px;

}
/* weekly-quiz section*/

.start-heading{
letter-spacing: 1px;
font-weight: bolder;
font-size: 40px;
padding: 20px;

}

.start-paragraph{
letter-spacing: 0.5px;
font-size: large;
font-size: 25px;
}

button.btn:hover{
    cursor: pointer;
}

#start-btn{ 

margin: 35px;
font-size: 30px;
padding:10px;
border-radius: 20px;
background-color: white;
width: 30%;
    
}

.rules-heading{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;


}

.text{
    font-size: 20px;
    
}
.weekly-quiz{
   
    height: 500px;
    width:100%;
    padding-top: 90px;
}
.antarctica-quiz{
    height:450px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  
}
.antarctica-title{
font-size: 30px;;
padding-bottom: 0;
}
.quiz-count{
font-size: 20px;
padding-top: 0;
padding-bottom: 10px;

}
#antarctica-questions{
font-size: 30px;
}


.begin-btn{
    font-size: 20px;
    margin: 20px;
    border-radius: 25px;
    padding: 20px;
}
.iceberg-image{

   max-height:100%;
   width:80%;
   
}

.last-quiz{

    height:500px;
    width:100%;
    padding-top: 90px;
}

.harry-potter-quiz{
 height:450px;
 width:80%;
 text-align: center;
 margin: 0 auto;

}

.harry-potter-image{
    max-height: 100%;
    width:80%;
}
.harry-potter-background{
    height:100vh;
    width:100%;
}

.antarctica-quiz-background{
    height:100vh;
    width:100%;

}

.antarctica-section{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/penguins-1.jpeg');
    background-size: cover ;
}
footer{
    
    bottom: 0px;
}


.start-page{
    position:relative;
   
    
}

.hide{
    display:none;
}


.welcome{
    width: 60%;
    height: 400px;
    background-color: #2A6673;
    position:absolute;
    top:30%;
    right:20%;

}

