*{
    margin:0;
    padding:0;
}


body{

    font-family: Darker Grotesque;
    background-color: #349db3;
    height:100vh; 
    width:100vw;
    box-sizing: border-box;
}

.choice-button{

    height:60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2A6673;
    margin:10px;
    border: 1px solid;
    color:white;
    opacity: 1px;
    font-size: 30px;
    text-align: center;
  
}
.choice-hp{
    background-color: #6c66be;
}

#score{
    border: 1px solid;
    border-radius: 20px;
    font-size:20px;
    font-weight: bolder;
    width: 20%;
    padding: 10px;
}

#next-btn{
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
}
    
#result-btn{
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    
}

.message{
font-size: 30px;
padding: 20px;

}

.final-score{
font-size: 20px;
width: 100;
padding: 10px;
}
.result-footer{
    margin: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    
}
#your-score{
font-size: 25px;
font-weight: bolder;
margin: 0 auto;
}

#reset{
    font-size: 20px;
    border-radius: 25px;
    background-color: #4437EE;
    padding: 10px;
    color: white;
    
}


#exit{
    font-size: 20px;
    border-radius: 25px;
    background-color: #2A6673;
    padding: 10px;
    color: white;
   
}
p.choice{
    
    height:100%;
    width:100%;
    
}
p.choice:hover{
    cursor: pointer;
}



.slide{
position: absolute;
transform: translate(-50%, -50%);
width:50%;
top: 50%;
left:50%;
text-align: center;
background-color:#acd9e4;
border: 1px solid;
border-radius: 25px;
padding: 30px;
}
.slide-hp{
position: absolute;
transform: translate(-50%, -50%);
width:50%;
top: 50%;
left:50%;
text-align: center;
background-color: #423ba1;
border: 1px solid;
border-radius: 25px;
padding: 30px;
}
.main-heading{
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
    padding: 20px 20px 5px 20px;

    
}
.tag-line{
    padding: 0px 20px 10px 20px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.correct{
    background-color: green;
}

.incorrect{
background-color:red;
}
.weekly-quiz-heading{
    
    background-color: white;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 160%;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

       
}

.about-heading{
    text-decoration: underline;
    color: white;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;


}
.about-text{
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;
}
.last-quiz-heading{
    text-decoration: underline;
    color:#2A6673;
    letter-spacing: 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 50px;

}
/* weekly-quiz section*/

.start-heading{
letter-spacing: 2px;
font-weight: bolder;
font-size: 40px;
padding: 20px;
color: white;
text-shadow: 2px 2px black;

}
.start-heading-hp{
    color:white;
    font-size: 40px;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

.start-paragraph{
letter-spacing: 0.5px;
font-size: large;
font-size: 25px;
}

button.btn:hover{
    cursor: pointer;
}
#start-btn-hp{
margin: 30px;
font-size: 25px;
padding:10px;
border-radius: 20px;
background-color: white;
width: 30%;
}
#start-btn{ 

margin: 30px;
font-size: 25px;
padding:10px;
border-radius: 20px;
background-color: white;
width: 30%;
    
}

.rules-heading{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;

}
.rules-heading-hp{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;
    color: white;
}

.text{
    font-size: 20px;
    font-weight: bolder;
    
}
.weekly-quiz{
   
    height: 550px;
    width:100%;
    padding-top: 10px;
    position: relative;
}
.antarctica-quiz{
    height:450px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  
}
.harry-title{
font-size: 30px;
padding-bottom: 0;
color:white
}
.antarctica-title{
font-size: 30px;
padding-bottom: 0;
}
.quiz-count{
font-size: 20px;
padding-top: 0;
padding-bottom: 10px;

}
#antarctica-questions{
font-size: 30px;
}

#harry-questions{
    font-size: 30px;
    color: white;
}
.image-text{

    font-size: 50px;
   text-align: center;
   color:white;
   
}
a{
    text-decoration: none;
    color:white;
    
}

.begin-btn{
    font-size: 20px;
    margin: 20px;
    border-radius: 25px;
    padding: 10px;
}
.iceberg-image{

   border-radius: 25px;
   max-height:100%;
   width:80%;
   
}


.last-quiz{

    height:500px;
    width:100%;
    padding-top: 90px;
}

.harry-potter-quiz{
 height:450px;
 width:80%;
 text-align: center;
 margin: 0 auto;

}

.harry-potter-image{
    max-height: 100%;
    width:80%;
    border-radius: 25px;
}
.harry-potter-background{
    height:100vh;
    width:100%;
}

.antarctica-quiz-background{
    height:100vh;
    width:100%;

}

.antarctica-section{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/penguins-1.jpeg');
    background-size: cover ;
}

.harry-potter-section{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/harry-image.jpeg');
    background-size: cover;
}
footer{
    
    bottom: 0px;
}


.start-page{
    position:relative;
   
    
}

.hide{
    display:none;
}


.welcome{
    width: 60%;
    height: 400px;
    background-color: #2A6673;
    position:absolute;
    top:30%;
    right:20%;

}

.socials > li {
    display: inline;
}
.socials {
    text-align: center;
}
.socials i {
    font-size: 30px;
    padding: 30px;
    color: #F4F4E8;
}
.copyright{
    text-align: center;
    color: white;
    font-size: larger;
    padding-bottom: 10px;
}